{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
        <div class="">
            {% include "incs/commodity-list.html.twig" %}
        </div>
{% endblock %}
