{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Achat effectué{% endblock %}

{% block body %}
<div class="align-center">
        <h1>Merci pour votre commande {{ app.user.firstname }} !</h1>
    </div>
    <p>Un récapitulatif de votre commande vous sera envoyé par mail</p>
{% endblock %}
    
